[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
isort = "*"
mypy = "*"
pytest = "*"

[packages]
caldav = "*"
tzlocal = "*"
ics = {editable = true,git = "https://lab.saloun.cz/jakub/ics.py"}

[requires]
python_version = "3.7"
