[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
"flake8" = "*"
isort = "*"
mypy = "*"
pytest = "*"
ddt = "*"

[packages]
caldav = "*"
tzlocal = "*"
ics = {editable = true,git = "https://lab.saloun.cz/jakub/ics.py"}
pystache = "*"
dateparser = "*"
more-itertools = "*"
beautifulsoup4 = "*"

[requires]
python_version = "3.7"
