[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ddt = "*"
"flake8" = "*"
isort = "*"
mypy = "*"

[packages]
PyOrgMode = {editable = true,git = "https://github.com/bjonnh/PyOrgMode"}
beautifulsoup4 = "*"
caldav = "*"
dateparser = "*"
ics = {editable = true,git = "https://lab.saloun.cz/jakub/ics.py"}
jinja2 = "*"
more-itertools = "*"
pystache = "*"
python-dateutil = "*"
requests = "*"
tzlocal = "*"

[requires]
python_version = "3.8"
