<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Automatic Diary Visualization</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="./diary.css" />
    </head>
    <body>
        <div class="table">
            <div class="tr">
                {% for weekday in ('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %}
                <div class="th">{{ weekday }}</div>
                {% endfor %}
            </div>
            {% for week in year %}
            <div class="tr">
                {% for day in week %}
                <div class="td{% if day.today %} today{% endif %}{% if day.even %} even{% endif %}">
                    <div class="content">
                        <div class="text">
                            <h2 title="{{ day.date.isoformat() }}">{{ day.date.day }}</h2>
                            {% for item in day.items %}
                            <p class="{{ item.provider }}"><span>{{ item.text }}</span></p>
                            {% endfor %}
                        </div>
                        <div class="date">{{ day.date.strftime('%b %Y') }}</div>
                    </div>
                </div>
                {% endfor %}
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="none">
                    <line x1="{{ year[loop.index - 1].stats['csfd'].val }}"
                          y1="0"
                          x2="{{ week.stats['csfd'].val }}"
                          y2="100"
                          stroke="black" />
                </svg>
            </div>
            {% endfor %}
            <div class="tr">
                {% for weekday in ('mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun') %}
                <div class="th">{{ weekday }}</div>
                {% endfor %}
            </div>
        </div>
        <script src="./diary.js"></script>
    </body>
</html>
